<h2>Cadastre sua Pousada</h2>
<div class="erros">
<% if @inn.errors.any? %>
  <p>Verifique os erros abaixo</p>
  <ul>
    <%@inn.errors.full_messages.each do |msg|%>
      <li><%=msg%></li>
      <% end %>
  </ul>
<% end %>
</div>
<div class="formulario">
  <%= render  "form" %>
</div>