<h2>Resumo da reserva</h2>

<div>
  <%= @room.name %> <br>
    <p>Data de entrada: <%=@temp_reserve["start_date"] %> </p>
    <p>Data de saída: <%=@temp_reserve["end_date"] %> </p>
    <p>Total: <%=@temp_reserve["total_value"] %> </p>