
<h2>Aqui estão suas rervas</h2>

<%if current_user.reservations.empty? %>
  <p>Você não possui reservas</p>
  <% else %>
  <% @reservation.each do |reserva| %>
    Reserva: <%= reserva.code %>
    <%= reserva.room.name %>
    Data de entrada: <%= reserva.start_date %>
  <% end %>

<% end %>